<% users.each do |user| %>
	<% if user.user_status == "公開" %>
	  	<%= link_to(user_path(user)) do %>
		    <div class="item-box">
	        	<%= attachment_image_tag user, :profile_image, size: "100x100", class: "image" %>
				<div class="item">
		            <p class="name">
		            	<span>人：</span><%= user.name %> /
		            	<span>動物：</span><%= user.pet_name %>
		        	</p>
		        	<p class="follow-user-intoroduction">
	            	<%= truncate(user.intoroduction, length: 30) %>
					</p>
	        		<!-- フォロー機能 -->
		        	<%= render 'users/follow', user: user %>
				</div>
		    </div>
		<% end %>
	<% end %>
<% end %>
