<% users.each do |user| %>
	<% if user.user_status == "公開" %>
	  	<%= link_to(user_path(user)) do %>
		    <table>
		        <tr>
			        <td>
			            <%= user.name %>
			            <%= user.pet_name %>
			        </td>
		        </tr>
		        <tr>
		        	<td>
		            	<%= user.intoroduction %>
		        	</td>
		        </tr>
		        <tr>
		        	<td><%= attachment_image_tag user, :profile_image, size: "100x100" %></td>
		        </tr>
		        <!-- フォロー機能 -->
		        <tr>
		        	<td>
			        	<%= render 'users/follow', user: user %>
		        	</td>
		        </tr>
		    </table>
		<% end %>
	<% end %>
<% end %>