<div class="row">
  <table>
    <tr>
      <td><h3><%= user.name %><%= user.pet_name %></h3></td>
    </tr>
    <tr>
      <td><%= attachment_image_tag @user, :profile_image, fallback: "no-image.jpg", size: "100x100" %></td>
    </tr>
    <tr>
      <td>
        <%= user.intoroduction %>
      </td>
    </tr>
    <tr>
      <%if user.id == current_user.id %>
        <td> 
          <%= link_to '編集する',edit_user_path %>
        </td>
      <% end %>
    </tr>
    <tr>
      <td>
        <% if user.user_status == "非公開" %>
          <%= "非公開" %>
        <% end %>
      </td>
    </tr>
  </table>
</div>

<div class="row">
  <div class="col-lg-8">
    <% pet_records.each do |record| %>
      <%= link_to(pet_record_path(record)) do %>
        <table>
          <tr>
            <td><%= l(record.created_at) %></td>
          </tr>
          <tr>
            <td>
              トイレ<%= record.toilet %>
              お水<%= record.water %>
              ごはん<%= record.food %>
              元気<%= record.energy %>
            </td>
          </tr>
          <tr>
            <td><%= attachment_image_tag record, :record_image, size: "100x100" %></td>
          </tr>
          <tr>
            <td><%= truncate(record.body.gsub!(/[#＃][\w\p{Han}ぁ-ヶｦ-ﾟー]+/, ""), length: 30) %></td>
          </tr>

          <!-- タグ機能 -->
          <tr>
            <td>
              <% if record.tags.any? %>
                <% record.tags.each do |tag| %>
                  <%= link_to tag_path(tag_id: tag.id) do %>
                    #<%= tag.tag %>
                  <% end %>
                <% end %>
              <% end %>
            </td>
          </tr>
          
          <tr>
            <td id="likes_buttons_<%= record.id %>">
              <%= render 'likes/like', pet_record: record %>
            </td>
          </tr>
          <tr>
            <td>
              <% if record.record_public == false %>
                <%= "非公開" %>
              <% end %>
            </td>
          </tr>
        </table>
      <% end %>
    <% end %>
  </div>

  <div class="col-lg-4">
    <% pet_records.each do |record| %>
      <%= link_to(pet_record_path(record)) do %>
        <table>
          <tr>
            <td><%= l(record.created_at) %></td>
          </tr>
        </table>
      <% end %>
    <% end %>
  </div>
</div>