<h1>Users#edit</h1>
<div class="user-edit">
	<%= form_with(model: @user, local: true) do |f| %>
		<table>
			<tr>
				<td>
					<%= f.attachment_field :profile_image %>
				</td>
			</tr>
			<tr>
				<td>
				  	<%= f.label :name %>
				    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
		  		</td>
		  	</tr>
		  	<tr>
		  		<td>
				  	<%= f.label :pet_name %>
				    <%= f.text_field :pet_name, autofocus: true, autocomplete: "pet_name" %>
				 </td>
			</tr>
			<tr>
				<td>
				    <%= f.text_area :intoroduction %>
				</td>
			</tr>
			<tr>
				<td>
				  	<%= f.radio_button :user_status, "公開" %>
					<%= f.label :user_status, "公開" %>
					<%= f.radio_button :user_status, "非公開" %>
					<%= f.label :user_status, "非公開" %>
					<%= f.submit %>
				</td>
			</tr>
		</table>
	<%end%>

<!-- デバイス部分の変更 -->
	<table>
		<tr>
			<td>
			<%= link_to 'メールアドレス・パスワードを変更する',edit_user_registration_path %>
			</td>
		</tr>
		<tr>
			<td>登録メールアドレス</td>
		</tr>
		<tr>
			<td><%= @user.email %></td>
		</tr>
		<tr>
			<td>
			<%= link_to "ユーザーを削除する", withdraw_path %>
			</td>
		</tr>
	</table>
</div>