<div class="container">
	<div class="row user">
		<div class="image-public">
			<p class="public">
				<% if @user.user_status == "非公開" %>
					プロフィール非公開<br>（記録の公開なし）
				<% end %>
			</p>
			<%= attachment_image_tag @user, :profile_image, fallback: "no-image.jpg", size: "100x100",class: "image" %>
			<%if @user.id == current_user.id %>
				<%= link_to edit_user_path do %><i class="fas fa-cog gear fa-2x edit"></i><% end %>
			<% end %>
		</div>
		<div class="user-status">
			<p class="name-font">
	        	<span>ひとのなまえ：</span>
	        	<%= @user.name %> /
	        	<span>
	            どうぶつのなまえ：
	        	</span>
	            <%= @user.pet_name %>
			</p>
			<p class="intoroduction-font" >
				<%= @user.intoroduction %>
			</p>
			 <!-- フォロー機能 -->
			<p><%= render 'users/follow', user: @user %></p>

			<p class="follow-font">
			<%= link_to "フォロワー：#{ @user.followers.count }", follower_user_path(@user),  class: "btn btn-default" %>
			<%= link_to "フォロワー：#{ @user.followeds.count }", followed_user_path(@user),  class: "btn btn-default" %>
			</p>
		</div>
	</div>

	<!-- 記録一覧部分 -->
	<div class="row record">
		<div class="col-lg-10">
			<div class="record-box"  data-page="2">
				<div>
					<% @pet_records.each do |record| %>
						<%= render "pet_records/record-parts", record: record %>
					<% end %>
				</div>
			</div>
		</div>


		<div class="col-lg-2">
			<% @pet_records.each do |record| %>
						<!-- if record.created_at. -->
						<%#= l(record.created_at.to_date, format: :short).to_i %>
				<%= link_to(pet_record_path(record)) do %>
					<table>
						<tr>
							<td><%= l(record.created_at.to_date) %></td>
						</tr>
					</table>
				<% end %>
			<% end %>
		</div>
	</div>
</div>