<%= form_with(model: pet_record, local: true) do |f| %>

  <% if pet_record.errors.any? %>
  <p>入力した内容にエラーが<%= pet_record.errors.count %>件あります</p>
    <div class="alert alert-danger">
      <ul>
      <% pet_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="status-radio-button">
		<table>
			<tr>
			  	<th>トイレ</th>
				<td>
				<%= f.radio_button :toilet, "×" %>
				<%= f.label(:toilet, "×") %>
				</td>
				<td>
				<%= f.radio_button :toilet, "△" %>
				<%= f.label(:toilet, "△") %>
				</td>
				<td>
				<%= f.radio_button :toilet, "○" %>
				<%= f.label(:toilet, "○") %>
				</td>
			</tr>
			<tr>
				<th>お水</th>
				<td>
				<%= f.radio_button :water, "×" %>
				<%= f.label(:water, "×") %>
				</td>
				<td>
				<%= f.radio_button :water, "△" %>
				<%= f.label(:water, "△") %>
				</td>
				<td>
				<%= f.radio_button :water, "○" %>
				<%= f.label(:water, "○") %>
				</td>
			</tr>
			<tr>
		  		<th>ごはん</th>
			 	<td>
			 	<%= f.radio_button :food, "×" %>
			 	<%= f.label(:food, "×") %>
			 	</td>
			 	<td>
			 	<%= f.radio_button :food, "△" %>
			 	<%= f.label(:food, "△") %>
			 	</td>
			 	<td>
			 	<%= f.radio_button :food, "○" %>
			 	<%= f.label(:food, "○") %>
			 	</td>
			</tr>
			<tr>
		  	<th>元気</th>
				<td><%= f.radio_button :energy, "×" %>
				<%= f.label(:energy, "×") %></td>
				<td><%= f.radio_button :energy, "△" %>
				<%= f.label(:energy, "△") %></td>
				<td><%= f.radio_button :energy, "○" %>
			 	<%= f.label(:energy, "○") %></td>
				</td>
			</tr>
		</table>

		<div class="record">
			  <%= f.attachment_field :record_image, class: "img" %>
			  <%= f.text_area :body, class: "text-form" %>
		</div>

		<div class="status-radio-button">
		  	<% if current_user.user_status == "非公開" %>
		  	  <%= "非公開"%>
			<% else %>
		  	  <%= f.radio_button :record_public, :true %>
			  <%= f.label(:record_public, :公開) %>
			  <%= f.radio_button :record_public, :false %>
			  <%= f.label(:record_public, :非公開) %>
			<% end %>
		</div>
			 <%= f.submit "記録", class: "btn btn-default record-btn" %>
	</div>
<% end %>