<div class="show-record-box">
    <table class="record-table">
    	<tr>
        	<td>
                <h3>
                <%= l(@pet_record.created_at.to_date) %>
                </h3>
            </td>
        </tr>
        <tr>
            <td class="name-box">
                <span>ひとのなまえ：</span><%= @pet_record.user.name %>/<span>どうぶつのなまえ：</span><%= @pet_record.user.pet_name %>
            </td>
        </tr>
        <tr>
            <td class="pet-status", style="line-height: 2em">
                トイレ：<%= @pet_record.toilet %> / 
                お水：<%= @pet_record.water %> / 
                ごはん：<%= @pet_record.food %> / 
                元気：<%= @pet_record.energy %>
            </td>
        </tr>
        <tr>
            <td class="show-record_image">
                <%= attachment_image_tag @pet_record, :record_image, class: "img" %>
            </td>
        </tr>


        <tr>
            <td>
                <p class="show-body">
                <%= @pet_record.body.gsub(/[#＃][\w\p{Han}ぁ-ヶｦ-ﾟー]+/, "") %>
                </p>
            </td>
        </tr>

        <!-- タグ機能 -->
          <tr>
            <td>
                <%= render "pet_records/tag", record: @pet_record %>
            </td>
          </tr>


         <!-- フォロー機能 -->
        <tr>
            <% if user_signed_in? %>
                <td class="follow-box">
                    <%= render 'users/follow', user: @pet_record.user %>


              <!-- いいね機能 -->
                <span id="likes_buttons_<%= @pet_record.id %>">
                    <%= render 'likes/like', pet_record: @pet_record %>
                </span>
                </td>
            <% end %>
        </tr>

        <tr>
            <td>
                <% if user_signed_in? %>
                    <% if(@pet_record.user_id == current_user.id)%>
                        <%= link_to "きろくの編集", edit_pet_record_path(@pet_record) %> / 
                        <%= link_to "きろくの削除", @pet_record, method: :delete, "data-confirm" => "本当に削除しますか？"  %>
                    <%end%>
                <% end %>
            </td>
        </tr>
        <tr>
            <td class="link">
                <%= link_to_unless_current  "このきろくの投稿者のページ",  user_path(@pet_record.user.id) %> | <%= link_to_unless_current  "公開されているきろく",  pet_records_path %>
            </td>
        </tr>

    </table>
</div>
