<div class="show-record-box">
    <table class="record-table">
    	<tr>
        	<td>
                <h3>
                <%= l(@pet_record.created_at.to_date) %>
                </h3>
            </td>
        </tr>
        <tr>
            <td class="name-box">
                <span>人：</span><%= @pet_record.user.name %>/<span>動物：</span><%= @pet_record.user.pet_name %>
            </td>
        </tr>
        <tr>
            <td class="pet-status", style="line-height: 2em">
                トイレ：<%= @pet_record.toilet %> / 
                お水：<%= @pet_record.water %> / 
                ごはん：<%= @pet_record.food %> / 
                元気：<%= @pet_record.energy %>
            </td>
        </tr>


           

        <tr>
            <td class="show-record_image">
                <%= attachment_image_tag @pet_record, :record_image, class: "img" %>
            </td>
        </tr>


        <tr>
            <td>
                <p  class="body">
                <%= @pet_record.body.gsub(/[#＃][\w\p{Han}ぁ-ヶｦ-ﾟー]+/, "") %>
</p>
            </td>
        </tr>

        <!-- タグ機能 -->
          <tr>
            <td>
                <%= render "pet_records/tag", record: @pet_record %>
            </td>
          </tr>


         <!-- フォロー機能 -->
        <tr>
            <td class="follow-box", align="right">
                <%= render 'users/follow', user: @pet_record.user %>


          <!-- いいね機能 -->
            <span id="likes_buttons_<%= @pet_record.id %>">
                <%= render 'likes/like', pet_record: @pet_record %>
            </span>
            </td>
        </tr>

        <tr>
            <td>
                <% if(@pet_record.user_id == current_user.id)%>
                    <%= link_to "変更", edit_pet_record_path(@pet_record) %> / 
                    <%= link_to "削除", @pet_record, method: :delete %>
                <%end%>
            </td>
        </tr>

    </table>
</div>
