<div class="show-record-box">
    <table class="record-table">
    	<tr>
        	<td>
                <h3>
                <%= l(@pet_record.created_at.to_date) %>
                </h3>
            </td>
        </tr>
        <tr>
            <td>
                <h5>
                <%= @pet_record.user.name %>/<%= @pet_record.user.pet_name %>
                </h5>
            </td>

            <!-- フォロー機能 -->
        <tr>
            <td>
                <%= render 'users/follow', user: @pet_record.user %>
            </td>
        </tr>

        <tr>
            <td class="show-record_image">
                <%= attachment_image_tag @pet_record, :record_image, size: "100x100" %>
            </td>
        </tr>
        <tr>
        	<td>
                <h4>
        		トイレ<%= @pet_record.toilet %>
        		お水<%= @pet_record.water %>
        		ごはん<%= @pet_record.food %>
        		元気<%= @pet_record.energy %>
                </h4>
        	</td>
        </tr>

        <!-- いいね機能 -->
        <tr>
            <td id="likes_buttons_<%= @pet_record.id %>">
                <%= render 'likes/like', pet_record: @pet_record %>
            </td>
        </tr>

        <tr>
            <td>
                <h4>
                <%= @pet_record.body.gsub(/[#＃][\w\p{Han}ぁ-ヶｦ-ﾟー]+/, "") %>
                </h4>
            </td>
        </tr>

        <!-- タグ機能 -->
          <tr>
            <td>
                <%= render "pet_records/tag", record: @pet_record %>
            </td>
          </tr>

        <tr>
            <td>
        	    <% if(@pet_record.user_id == current_user.id)%>
            	    <%= link_to "変更", edit_pet_record_path(@pet_record) %>
            	    <%= link_to "削除", @pet_record, method: :delete %>
            	<%end%>
    		</td>
    	</tr>
    </table>
</div>
