<!DOCTYPE html>
<html>
  <head>
    <title>YOU □ ME</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/1eca3cbf72.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body data-turbolinks="false">
    <header>
      <% if user_signed_in? %>
        <nav>
        <!-- ユーザーログイン済の時のみヘッダー表示 -->
        <div class="title">
        <h1>
          YOU □ ME
        </h1>
        <h5><%= I18n.l(Date.today) %></h5>
      </div>
          <ul>
            <li><%= link_to_unless_current  "フォロー",followed_user_path(current_user) %></li>
            <li><%= link_to_unless_current  "フォロワー",follower_user_path(current_user) %></li>
            <li><%= link_to_unless_current  "いいね", likes_path %></li>
            <li><%= link_to_unless_current  "新しい記録",new_pet_record_path %></li>
             <li><%= link_to_unless_current  "マイページ",  user_path(current_user) %></li>
            <li><%= link_to_unless_current  "ログアウト",  destroy_user_session_path, method: :delete  %></li>
            <li>
              <%= link_to_unless_current  "公開されている記録",  pet_records_path %>
            </li>
          </ul>

          <!-- 検索機能 -->
          <%= search_form_for @search, url:search_path do |search| %>
          <div class="input-group">
            <%= search.search_field :user_name_or_user_pet_name_or_user_intoroduction_or_body_cont_any, class: "form-control", placeholder: "検索" %>
            <span class="input-group-btn">
              <%= search.submit "検索", class: "btn btn-default" "search" %>
            </span>
          </div>
          <% end %>
        </nav>
      <% end %>
    </header>

      <%= yield %>

  </body>
</html>
